<a href="https://colab.research.google.com/github/OmamaRawahi/O-M/blob/main/Copy_of_2_K_Anonymity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CS211: Data Privacy
## In-Class Exercises, week of 9/5/2022

In [1]:
# Load the data and libraries
import pandas as pd
import numpy as np

adult = pd.read_csv('https://github.com/jnear/cs211-data-privacy/raw/master/homework/adult_with_pii.csv')

In [2]:
adult

,Name,DOB,SSN,Zip,Age,Workclass,fnlwgt,Education,Education-Num,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours per week,Country,Target
0,Karrie Trusslove,9/7/1967,732-14-6110,64152,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,Brandise Tripony,6/7/1988,150-19-2766,61523,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,Brenn McNeely,8/6/1991,725-59-9860,95668,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,Dorry Poter,4/6/2009,659-57-4974,25503,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,Dick Honnan,9/16/1951,220-93-3811,75387,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,Ardyce Golby,10/29/1961,212-61-8338,41328,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,Jean O'Connor,6/28/1952,737-32-2919,94735,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,Reuben Skrzynski,8/9/1966,314-48-0219,49628,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,Caye Biddle,5/19/1978,647-75-3550,8213,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,Hortense Hardesty,5/11/2012,690-42-5638,86153,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

## Question 1

Write code to group the `adult` dataset by a single column and count the number of members in each group.

In [7]:
def group_one_count(col):
    return adult.groupby(col).size()

In [8]:
group_one_count('Education')

Education
10th              933
11th             1175
12th              433
1st-4th           168
5th-6th           333
7th-8th           646
9th               514
Assoc-acdm       1067
Assoc-voc        1382
Bachelors        5355
Doctorate         413
HS-grad         10501
Masters          1723
Preschool          51
Prof-school       576
Some-college     7291
dtype: int64

In [9]:
s = group_one_count('Education')
assert s['10th'] == 933
assert s['9th'] == 514
assert s['Some-college'] == 7291

## Question 2

Write code to group the `adult` dataset by two columns and count the number of members in each group.

In [10]:
def group_two_count(col1, col2):
     return adult.groupby([col1,col2]).size()

In [11]:
group_two_count('Occupation', 'Education')

Occupation        Education
Adm-clerical      10th             38
                  11th             67
                  12th             38
                  5th-6th           6
                  7th-8th          11
                                 ...
Transport-moving  Doctorate         1
                  HS-grad         825
                  Masters          10
                  Prof-school       3
                  Some-college    283
Length: 201, dtype: int64

In [12]:
s = group_two_count('Occupation', 'Education')
assert s['Transport-moving']['Doctorate'] == 1
assert s['Adm-clerical']['10th'] == 38

## Question 3

Write code to perform a differencing attack to determine Brenn McNeely's age using only the `mean` aggregation function over large groups.

In [35]:
def get_brenns_age():
    a1=(adult[adult['Name']!='Brenn McNeely']['Age'].mean())*len(adult[adult['Name']!='Brenn McNeely']['Age'])
    a2=(adult['Age'].mean())*len(adult['Age'])
    return a2-a1
brenns_age = get_brenns_age()

In [36]:
assert brenns_age == 38.0

In [37]:
df = adult[['Education', 'Marital Status', 'Target']]
df.head(10)

   Education         Marital Status Target
0  Bachelors          Never-married  <=50K
1  Bachelors     Married-civ-spouse  <=50K
2    HS-grad               Divorced  <=50K
3       11th     Married-civ-spouse  <=50K
4  Bachelors     Married-civ-spouse  <=50K
5    Masters     Married-civ-spouse  <=50K
6        9th  Married-spouse-absent  <=50K
7    HS-grad     Married-civ-spouse   >50K
8    Masters          Never-married   >50K
9  Bachelors     Married-civ-spouse   >50K

## Question 4

Does the dataset `df` satisfy $k$-Anonymity for $k=3$? Why not?

YOUR ANSWER HERE

## Question 5

What columns should we designate as quasi-identifiers in the dataset `df`, and why?

YOUR ANSWER HERE

## Question 6

Imagine the column `Target` is *not* a quasi-identifier, and we generalize the dataset to achieve $k$-Anonymity for $k=2$ as follows:

- Replace each education level below "HS Grad" with `< HS` and others with `>= HS`
- Replace marital status with `Married` and `Not Married`
- Delete rows as required to achieve $k$-anonymity for $k=2$

For which rows is a homogeneity attack possible, and why?

YOUR ANSWER HERE

## Question 7

Write code to generalize the `Zip` column in the adult dataset.

In [40]:


def generalize_zip(zip, l):
  # Generate a string of zeros of length l
  zeros = '0' * l
  zip_str = str(zip)
  # Concatenate
  coc = zip_str[:len(zip_str)-l] + zeros
  return int(coc)

In [41]:
# Test cases
assert generalize_zip(47401, 0) == 47401
assert generalize_zip(47401, 1) == 47400
assert generalize_zip(47401, 2) == 47400
assert generalize_zip(47401, 3) == 47000
assert generalize_zip(47401, 4) == 40000
assert generalize_zip(47401, 5) == 0